@keyframes float-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
.animate-float {
  animation: float-up-down 4s ease-in-out infinite;
}
.icon-div {
  /* width: 2rem; */
  /* height: 2rem; */
  border-radius: 50%;
  border: 1px solid white;
}
.icon-div img {
  /* width: 1.8rem; */
}
.icon-div #phone-icon {
  /* width: 2.5rem; */
}
.title-payment {
  /* font-size: 2rem; */
  /* margin-bottom: 10px; */
}
.sub-title-payment {
  /* font-size: 1.5rem; */
}
#payment-section .ml-8 {
  /* margin-left: 2rem!important; */
}
